.tweets-container {
    width: 80%;

    @include flex($direction: column);

    .tweet-list {
        width: 80%;
        margin-bottom: 40%;
        @include flex($direction: column);

        
        form {
            margin-top: 2rem;
            width: 50%;
            padding: 1rem;
            border: 1px solid $text-color;
            border-radius: 5px;

            @include xs {
                width: 100%;
            }

            .form-title h4 {
                color: $text-color;
            }

            .form-body {
                width: 100%;

                .form-item {
                    width: 100%;
                    
                    textarea {
                        border: none;
                        width: 100%;
                        height: 5rem;
                        resize: none;
                        background-color: transparent;
                        padding: 10px 15px;
                        outline: none;
                    }

                    &:last-child {
                        text-align: right;
                    }
                }
            }
        }


    }
}