script(src="/js/search-bar.js") 
.top-bar 
    a(href="/")
        img(width="100" height="100" src="/img/logo.png",)
    .search-bar 
        form
            i.fa-solid.fa-magnifying-glass 
            input#search-input(type="text", name="search" placeholder="Rechercher un utilisateur")
        #search-menu-container 
           
                
                
    ul 
        if isAuthenticated 
            li 
                a(class="btn btn-primary" href="/auth/signout") Deconnexion 
        else
            li 
                a(class="btn btn-primary" href="/auth/signin/form") Connexion 
            li 
                a(class="btn btn-primary" href="/user/signup/form") Inscription


  
    