.top-bar 
    a(href="/")
        img(width="100" height="100" src="/img/logo.png",)
    ul 
        li 
            a(class="btn btn-primary" href="#") Connexion 
        li 
            a(class="btn btn-primary" href="/user/signup/form") Inscription


  
    