.top-bar 
    a(href="/")
        img(width="100" height="100" src="/img/logo.png",)
    ul 
        if isAuthenticated 
            li 
                a(class="btn btn-primary" href="/auth/signout") Deconnexion 
        else
            li 
                a(class="btn btn-primary" href="/auth/signin/form") Connexion 
            li 
                a(class="btn btn-primary" href="/user/signup/form") Inscription


  
    