form(class="card" action="/tweet/new" method="post")
    .form-title
        h4 Ecrire un tweet 
    .form-body 
        .form-item 
            textarea(name="content" placeholder="Quoi de neuf aujourd'hui ?")
        if errors 
            ul
                each error in errors 
                    li(class="text-danger")= error
        .form-item 
            input(type="submit", value="Tweeter" class="btn btn-primary")