* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.topbar {
    
    box-shadow: var(--box-shadow);
}

.navbar-toggler {
    margin-right: 1.5rem;
}