@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap");
ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.top-bar {
  height: 15vh;
  padding: 15px 30px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  background-color: #eee;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.top-bar ul {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.top-bar ul li {
  margin-left: 10px;
}

.profile-container {
  width: 20%;
  height: 70%;
  background-color: #b2bec3;
  padding: 2.5rem;
  position: fixed;
  top: 20%;
  left: 5%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  border-radius: 10px;
}
@media (max-width: 480px) {
  .profile-container {
    position: fixed;
    top: auto;
    border-radius: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10vh;
  }
}

.tweets-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.tweets-container .tweet-list {
  width: 80%;
  margin-bottom: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.tweets-container .tweet-list form {
  margin-top: 2rem;
  width: 50%;
  padding: 1rem;
  border: 1px solid #333;
  border-radius: 5px;
}
@media (max-width: 480px) {
  .tweets-container .tweet-list form {
    width: 100%;
  }
}
.tweets-container .tweet-list form .form-title h4 {
  color: #333;
}
.tweets-container .tweet-list form .form-body {
  width: 100%;
}
.tweets-container .tweet-list form .form-body .form-item {
  width: 100%;
}
.tweets-container .tweet-list form .form-body .form-item textarea {
  border: none;
  width: 100%;
  height: 5rem;
  resize: none;
  background-color: transparent;
  padding: 10px 15px;
  outline: none;
}
.tweets-container .tweet-list form .form-body .form-item:last-child {
  text-align: right;
}

.btn {
  padding: 10px 15px;
  border: 1px solid white;
  border-radius: 3px;
  color: white;
}
.btn-primary {
  background-color: #00ACEE;
}
.btn-primary:hover {
  background-color: #0078a8;
}
.btn-secondary {
  background-color: #0078a8;
}
.btn-secondary:hover {
  background-color: #00ACEE;
}

.tweet-card {
  width: 50%;
  border: 1px solid #333;
  border-radius: 5px;
  margin-top: 2rem;
  padding: 1.5rem;
}
@media (max-width: 480px) {
  .tweet-card {
    width: 100%;
  }
}
.tweet-card-author {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.tweet-card-author-data {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.tweet-card-author-data img {
  width: 2.5rem;
}
.tweet-card-author-data p {
  margin-left: 1rem;
}
.tweet-card-author-actions a {
  color: #333;
}
.tweet-card-author-actions a i {
  cursor: pointer;
  font-size: 1.1rem;
}
.tweet-card-body {
  padding: 1rem;
}
.tweet-card-actions {
  margin-top: 2rem;
  border-top: 1px solid #eee;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.tweet-card-actions i {
  margin-top: 1.5rem;
  font-size: 1.5rem;
  line-height: 1.5rem;
  cursor: pointer;
}

.content {
  height: 85vh;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

section {
  padding: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
section .content-box {
  width: 20%;
  padding: 30px;
  border: 1px solid #333;
  border-radius: 5px;
}
section .content-box .form-box {
  width: 100%;
}
section .content-box .form-box .input-box {
  margin-top: 15px;
}
section .content-box .form-box .input-box input {
  width: 100%;
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid #333;
  outline-style: none;
}

/*# sourceMappingURL=style.css.map */
