extend ../layout.pug

block content 
    .d-flex.flex-row.container-main.mx-auto 
        .profile-container.container-fluid 
            include ../includes/profile.pug
        .tweets-container.flex-fill.container-fluid 
            h1 Tweet List