extends ../layout.pug 

block content 
    .content
        .profile-container
            include  ../includes/profile.pug
        .tweets-container
            .tweet-list 
                include ../includes/tweet-form.pug
                if tweets 
                    each tweet in tweets
                        include ../includes/tweet-card.pug 
                                