extends ../layout.pug 

block content 
    .content
        .profile-container
            include  ../includes/profile.pug
        .tweets-container
            .tweet-list 
                include ../includes/tweet-form.pug
                if tweets 
                    each tweet in tweets
                        .tweet-card
                            .tweet-card-author
                                img(src="/img/default_profile.png", alt="")
                                p Naomie Marco
                            .tweet-card-body= tweet.content
                            .tweet-card-actions 
                                i.fa-regular.fa-comment
                                i.fa-regular.fa-heart
                                i.fa-regular.fa-share-from-square 
                                