extends ../layout.pug 

block content 
    .content
        if isAuthenticated
            .profile-container
                include  ../includes/profile.pug
        .tweets-container
            .tweet-list 
                if isAuthenticated
                    include ../includes/tweet-form.pug
                if tweets 
                    each tweet in tweets
                        include ../includes/tweet-card.pug 
                                    